<div class="left-panel">
    <div class="branding">
        <img src="https://anime.akhfhid.my.id/assets/images/akhfhid.png" alt="Akhfhid Bot Logo" class="logo" />
        <h1 class="bot-name">Akhfhid</h1>
        <p class="tagline">Your All-in-One Discord Companion</p>
        <a href="https://discord.com/oauth2/authorize?client_id=1439201742599491694&permissions=0&integration_type=0&scope=bot+applications.commands"
            class="cta-button" target="_blank">
            <i class="fas fa-plus"></i> Invite to Server
        </a>
    </div>
    <div class="social-links">
        <a href="https://github.com/akhfhid" target="_blank"><i class="fab fa-github"></i></a>
        <a
            href="https://discord.com/oauth2/authorize?client_id=1439201742599491694&permissions=0&integration_type=0&scope=bot+applications.commands"><i
                target="_blank" class="fab fa-discord"></i></a>
        <a href="https://instagram.com/aff4n__" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
</div>