<div class="sidebar-content">
    <div class="branding">
        <img src="/images/akhfhid.png" alt="Akhfhid Bot Logo" class="logo" />
        <h1 class="bot-name">Akhfhid</h1>
        <p class="tagline">Your Ultimate Discord Assistant</p>
        <a target="_blank" href="https://discord.com/oauth2/authorize?client_id=1439201742599491694" class="cta-button">
            <i class="fas fa-plus"></i> Invite Bot
        </a>
    </div>



    <div class="social-links">
        <a href="https://discord.com/oauth2/authorize?client_id=1439201742599491694" target="_blank"><i class="fab fa-discord"></i></a>
        <a href="https://instagram.com/aff4n__" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
</div>